################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.vs
/Sample/x64
/packages
/Render/x64
/x64/Debug/D3DCompiler_43.dll
/x64/Debug/d3dx10d_43.dll
/x64/Debug/d3dx11d_43.dll
/x64/Debug/d3dx9d_43.dll
/x64/Debug/Sample.exe
/x64/Debug/Sample.pdb
*.user
/UnitTest1/x64/Debug
/x64/Debug/UnitTest1.dll
/x64/Debug/UnitTest1.exp
/x64/Debug/UnitTest1.lib
/x64/Debug/UnitTest1.pdb
/GrassLandSample/x64/Debug
*.idb
*.lib
*.pdb
*.cso
/Sample/Sample.aps
/Render/Render/x64/Debug
*.tlog
/Sample/Sample/x64/Debug
/Sample/yyb
/x64/Release/D3DCompiler_43.dll
/x64/Release/d3dx10_43.dll
/x64/Release/d3dx11_43.dll
/x64/Release/d3dx9_43.dll
/x64/Release/Sample.exe
.VSCodeCounter
Sample/res/model/yyb
/.VSCodeCounter/2025-10-20_00-33-46/details.md
/.VSCodeCounter/2025-10-20_00-33-46/diff-details.md
/.VSCodeCounter/2025-10-20_00-33-46/diff.csv
/.VSCodeCounter/2025-10-20_00-33-46/diff.md
/.VSCodeCounter/2025-10-20_00-33-46/diff.txt
/.VSCodeCounter/2025-10-20_00-33-46/results.csv
/.VSCodeCounter/2025-10-20_00-33-46/results.json
/.VSCodeCounter/2025-10-20_00-33-46/results.md
/.VSCodeCounter/2025-10-20_00-33-46/results.txt
/Render/Render/x64/Release
