################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

.vs
/Sample/x64
/packages
/Render/x64
/x64/Debug/D3DCompiler_43.dll
/x64/Debug/d3dx10d_43.dll
/x64/Debug/d3dx11d_43.dll
/x64/Debug/d3dx9d_43.dll
/x64/Debug/Sample.exe
/x64/Debug/Sample.pdb
*.user
/UnitTest1/x64/Debug
/x64/Debug/UnitTest1.dll
/x64/Debug/UnitTest1.exp
/x64/Debug/UnitTest1.lib
/x64/Debug/UnitTest1.pdb
/GrassLandSample/x64/Debug
*.idb
*.lib
*.pdb
*.cso
/x64/Debug/AnimationMeshShader.cso
/x64/Debug/AnimMeshShader.cso
/x64/Debug/FilterSaturate.cso
/x64/Debug/GBuffer.cso
/x64/Debug/MeshInstancing.cso
/x64/Debug/MeshMix.cso
/x64/Debug/MeshNormalMapping.cso
/x64/Debug/MeshOld.cso
/x64/Debug/MeshPointLight.cso
/x64/Debug/MeshPOM.cso
/x64/Debug/MeshShader.cso
/x64/Debug/MeshSmooth.cso
/x64/Debug/MeshSSS.cso
/x64/Debug/MeshSSSLike.cso
/x64/Debug/PostEffectBloom.cso
/x64/Debug/PostEffectDepthBufferShadow.cso
/x64/Debug/PostEffectEnd.cso
/x64/Debug/PostEffectFog.cso
/x64/Debug/PostEffectGaussian.cso
/x64/Debug/PostEffectSaturate.cso
/x64/Debug/PostEffectSSAO.cso
/x64/Debug/PostEffectStarBurst.cso
/x64/Debug/PostEffectZShadow.cso
/x64/Debug/simple.cso
/x64/Debug/SkinAnimMeshShader.cso
